.tool_button {
    display: inline-block;
    padding: 8px;
    box-sizing: content-box;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;

    user-select: none;

    svg {
        display: block;
    }
    
    &:hover{
        background-color: rgb(87, 87, 87);
    }

    &:active, &.selected{
        background-color: rgb(150, 150, 150);
    }
}