@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");

#ui_layer_root {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #ddd;
    font-family: Montserrat;
    pointer-events: none;
}
